<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>StarTrek Web</title>
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css"
	href="lib/dependencies/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="lib/dependencies/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="lib/dependencies/css/rdash.min.css" />
<link rel="stylesheet" type="text/css"
	href="lib/dependencies/css/ng-grid.min.css" />

<script type="text/javascript" src="lib/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="lib/dependencies/angular.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/angular-resource.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/angular-cookies.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/angular-ui-router.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/ng-grid-2.0.11.min.js"></script>
<script type="text/javascript"
	src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="lib/dependencies/toggles.js"></script>

<script type="text/javascript" src="script/startrek.js"></script>
<script type="text/javascript" src="script/app.js"></script>


</head>
<body>

	<div ng-controller="startrekController">
		<form novalidate class="simple-form">
			X: <input type="text" ng-model="x" /><br /> 
			Y: <input type="text" ng-model="y" /><br /> 
			
			<input type="button" ng-click="reset()" value="Reset" />
			 <input type="submit" ng-click="saveData()" value="Save" />
		</form>
		
		<div ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>

	</div>

	</div>
</body>
</html>